@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #3B82F6;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;          
}

.options-header{
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;    
    font-weight: bold; 
    border-radius: 1rem;   
}

.optionArea{
    padding: 1.5rem;
}

.optionArea button{
    padding: 2rem 1rem;
    display: list-item;
    margin: 1rem auto;
    width: 300px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: medium;
    border: 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;         
}

.optionArea a{
    color: black;
    text-decoration: none;
}

.info{
    width: 60%;
    margin: auto;
    text-align: center;    
}

.formula{
    margin: auto;       
    padding: 1rem;    
    font-weight: bold;
}

.label{
    font-weight: bold;
}

.input-area{
    padding-bottom: 1rem;
}
.input-area input{
    padding: 0.5rem;
    border: 2px solid;
    width: 150px;
    border-radius: 0.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;    
}

.output{
    padding: 1rem;
    border: 2px solid;
    margin:auto;
    width: 100px;
    border-radius: 0.5rem;
}