@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #3B82F6;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;          
}

.options-header{
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;    
    font-weight: bold; 
    border-radius: 1rem;   
}

.optionArea{
    padding: 1.5rem;
}

.optionArea button{
    padding: 2rem 1rem;
    display: list-item;
    margin: 1rem auto;
    width: 300px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: medium;
    border: 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;         
}

.optionArea a{
    color: black;
    text-decoration: none;
}

.label{
    font-weight: bold;
}

.input-area input{
    padding: 0.5rem;
    border: 2px solid;
    width: 150px;
    border-radius: 0.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;    
}

.input-area button{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;    
}

.output{
    padding: 1rem;
    border: 2px solid;
    margin:auto;
    width: 200px;
    border-radius: 0.5rem;
}

.card{
    padding: 1rem 0.5rem;
    background-color: lightgrey;
    border-radius: 0.5rem;
    width: 500px;
    margin: auto;
    text-align: left;
}

.quiz-button{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.question{
    padding: 0rem 1rem;
    
}

ul{
    list-style-type: none;
}

li{
    padding: 0.3rem;
}

.score-section{
    border: 1px solid;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 0.2rem;
    background-color: white;    
}

#show-score{
    display: none;
}

#reset-button{
    display: none;
}


